body {
    width: 100%;
    z-index: 0;
    height: 100vh;
}
#jeu {
    width: 1000px;
    height: 100vh;
    margin: auto;
    z-index: 0;
}
#plateau {
    width: 100%;
    height: 100%;
    z-index: 0;
    margin-left: 7em;
}

#surcoucheContainer {
    width: 1000px;
    height: 1000px;
    margin: auto;
    display: none;
}

#surcouche {
    width:100%;
    height: 100%;
    position: absolute;
    top: 5em;
}
.tdSurcouche {
    width: 70px;
    height: 70px;
    z-index: 20;
    position: relative;
}
.player {
    position: absolute;
    display: flex;
    width: 70px;
    transition-property: top, left;
    transition-duration: 1s;
}
.weapon {
    position: absolute;
}
.weaponImg {
    z-index: 0;
    position: relative;
}
.playerImgClass {
    width: 90%;
    top: 20px;
    left: 5px;
    position: absolute;
}
#testButton {
    width: 5em;
    height: 3em;
}
#play {
    width: 10em;
    font-size: 1.3em;
    height: 3em;
    background-color: burlywood;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
}

#player1Card, #player2Card {
    background-color: black;
}
#player1Card {
    top: 150px;
    left: 30px;
}
#player2Card {
    top: 150px;
    left: 1200px;
}

